name: Coverage

on: [push, pull_request]

jobs:
  build:
    # https://docs.github.com/cn/actions/reference/workflow-syntax-for-github-actions
    # https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
    runs-on: ubuntu-20.04
    container: kaiserlancelot/kenv:latest
    strategy:
      matrix:
        compiler:
          - { cc: "gcc", cxx: "g++" }
          - { cc: "clang", cxx: "clang++" }

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo bash script/build.sh

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug \
          -DKPKG_BUILD_TEST=ON -DKPKG_BUILD_COVERAGE=ON
        env:
          CC: ${{ matrix.compiler.cc }}
          CXX: ${{ matrix.compiler.cxx }}

      - name: Build
        run: cmake --build build --config Debug -j"$(nproc)" --target coverage

      # https://github.com/coverallsapp/github-action
      - name: Coveralls
        if: ${{ matrix.compiler.cxx == 'clang++' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/lcov.info

      # https://github.com/actions/upload-artifact
      - name: Upload artifact
        if: ${{ matrix.compiler.cxx == 'g++' }}
        uses: actions/upload-artifact@v2
        with:
          name: coverage-lcov
          path: build/coverage
          if-no-files-found: error
