name: Coverage

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        compiler:
          - { cc: "gcc", cxx: "g++" }
          - { cc: "clang", cxx: "clang++" }

    steps:
      - uses: actions/checkout@v2

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v2
        with:
          path: dependencies
          key: ${{ runner.os }}-dependencies-20210412

      - name: Install dependencies
        run: sudo bash script/build.sh

      - name: Configure
        run: |
          cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Debug \
          -DKPKG_BUILD_TEST=ON -DKPKG_BUILD_COVERAGE=ON
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}

      - name: Build
        run: cmake --build build --config Debug -j"$(nproc)" --target coverage

      # https://github.com/coverallsapp/github-action
      - name: Coveralls
        if: ${{ matrix.compiler == 'clang++' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/test/unit_test/lcov.info

      # https://github.com/actions/upload-artifact
      - name: Upload artifact
        if: ${{ matrix.compiler == 'g++' }}
        uses: actions/upload-artifact@v2
        with:
          name: coverage-lcov
          path: build/test/unit_test/coverage
          if-no-files-found: error
