name: Release

on:
  release:
    # https://stackoverflow.com/questions/59319281/github-action-different-between-release-created-and-published
    types: [published]

jobs:
  build:
    # https://docs.github.com/cn/actions/reference/workflow-syntax-for-github-actions
    # https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
    runs-on: ubuntu-20.04
    container: kaiserlancelot/kenv:latest

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo bash script/build.sh

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release -j"$(nproc)"

      - name: Get version
        run: echo "RELEASE_VERSION=${TAG_NAME:1}" >> $GITHUB_ENV
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}

      - name: CPack
        run: |
          strip --strip-debug --strip-unneeded tool/kpkg
          cpack
          mv kpkg-${{ env.RELEASE_VERSION }}-Linux.deb \
          kpkg-v${{ env.RELEASE_VERSION }}-ubuntu-20.04.deb
          mv kpkg-${{ env.RELEASE_VERSION }}-Linux.tar.gz \
          kpkg-v${{ env.RELEASE_VERSION }}-ubuntu-20.04.tar.gz
        working-directory: build

      - name: Install
        run: |
          sudo dpkg -i kpkg-v${{ env.RELEASE_VERSION }}-ubuntu-20.04.deb
          sudo ldconfig
        working-directory: build

      - name: Run executable
        run: |
          kpkg install curl
          kpkg list
          kpkg upgrade

      # https://github.com/softprops/action-gh-release
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/kpkg-v${{ env.RELEASE_VERSION }}-ubuntu-20.04.deb
            build/kpkg-v${{ env.RELEASE_VERSION }}-ubuntu-20.04.tar.gz
