name: Sanitizer

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    container: kaiserlancelot/kenv:latest
    strategy:
      matrix:
        # https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html
        build_type: ["Debug", "Release", "RelWithDebInfo", "MinSizeRel"]
        compiler:
          - { cc: "gcc", cxx: "g++" }
          - { cc: "clang", cxx: "clang++" }

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: bash script/build.sh

      - name: Configure
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DKPKG_BUILD_TEST=ON -DKPKG_BUILD_EXTRA_TEST=ON \
          -DKPKG_SANITIZER=ON
        env:
          CC: ${{ matrix.compiler.cc }}
          CXX: ${{ matrix.compiler.cxx }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} -j"$(nproc)"

      - name: Run executable
        run: |
          ./kpkg install cmake ninja mold lcov \
          icu boost catch2 curl fmt libarchive nameof zstd \
          boringssl spdlog sqlcipher tidy-html5 pugixml onetbb cli11 indicators \
          semver gsl dbg-macro scope_guard argon2 simdjson opencc utfcpp \
          simdutf xxHash mimalloc cmark backward-cpp woff2 libvips highway \
          re2 parallel-hashmap libqrencode libmagic
        working-directory: build/tool

      - name: Test
        run: ctest -C ${{ matrix.build_type }} -j1 --output-on-failure
        working-directory: build
